@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  --type-first: 'Roboto', sans-serif;
  font-family: var(--type-first);
  --url-featured: `https://image.tmdb.org/t/p/original$ {item.backdrop_path}`
}